.body{
    padding: 0px 150px 0px;
}
body{
    font-family: 'Lora', serif, sans-serif;
}

.line{
    font-weight: 700;
    border-left: 5px solid orangered;
    height: 20%;
    padding-left: 10px;
}
p{
    padding-bottom: 25px;
    text-align: justify;
    font-family: sans-serif;
}
.md-col{
    color: orangered;
}
.body-top{
    display: flex;
    margin-bottom: 150px ;
}
.text{
    padding-top: 50px;
}

.top-fix{
    width: 50%;
    padding-left: 5%;
    
}
.top-fix img{
    width: 70%;
    padding-left: 150px;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orangered,yellow);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    
}

.MIViG{

    font-weight: 700;
    margin-bottom: 250px;
    width: 100%;
}


#mvg{
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
.mid-body{
    margin-bottom: 250px;
}
.floating{
    border: none;
    width: 30%;
    float:left ;
    padding: 10px;
    border-radius: 10px;
}
.date{
    color: rgba(255, 127, 80, 0.753);
}
.bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
}

.box-1{
    margin: 10px 10px; 
    background-color: rgba(151, 223, 219, 0.219); 
 }
 .box-2{
    margin: 5px 10px; 
    background-color: rgba(188, 143, 143, 0.37);
 }
.box-3{
    margin: 5px 10px; 
    background-color: rgba(187, 188, 143, 0.582);
    
}
.img-fix{
    width: 100%;
    padding-right: 50px;
}

.sec-3{
    display: flex;
    margin: 150px ;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 37%;
    
}
.image img{
    width: 100%;
    margin-left: 10px;
    padding-left: 5px;
}

.sec-4{
    display: flex;
    margin-bottom: 150px ;
}

.fix-box{
    display: flex;
    margin-bottom: 150px;
}

.fix{
    display: flex;
    margin-bottom: 150px;
    }
.back{
    background-image: url(images/shapes/shape-5.png),url(images/shapes/shape-5.png);
    background-repeat: no-repeat;
    background-position:left top, right bottom;
    background-size: 30%;
}

/* .sec-5{
    display: flex;
} */


footer {
    
    width: 100%;
    height:30%;
    background-color: black;
    padding: 10px 20px;
    margin-top: 200px;
    
    color:whitesmoke;
}
.ft{
    font-weight: 600;
    font-family: 'Great Vibes', cursive;
    
}

